body>header nav {

    ul {
        display: flex;
        list-style-type: none;

        li {

            a {
                color: var(--color-light);
                text-decoration: none;
                font-size: 1.3em;
                padding: 1em;
                display: block;
                border-bottom: 7px solid transparent;
                transition: border-color .2s ease-in-out, color .4s ease-in-out;
                text-align: center;

                &:hover {
                    border-bottom: 4px solid var(--color-link);
                    color: var(--color-link);
                }
            }
        }
    }
    img {
        height: 10%;
    }
}

nav.left > ul {
    justify-content: flex-start;
}

nav.left > ul {
    justify-content: flex-end;
}

nav.center > ul {
    justify-content: center;
}

nav.full > ul > li {
    flex: 1;
}

@media (max-width: 800px) {
    nav > ul {
        flex-direction: column;
    }
}